.navElement {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.navElement:hover {
    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;
}

.navElement.active {
    color: #2255ff;
}

.navElement.active:hover {
    text-decoration: underline;
    text-decoration-color: #2255ff;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navElement {
        font-size: 12px;
    }
}