.body {
    padding-left: 100px;
    padding-right: 100px;
    overflow-x: hidden;
    height: 580vh;
    background-color: white;
}

h6 {
    letter-spacing: 10px;
    font-size: 16px;
    font-weight: 200;
}

h3 {
    font-weight: bold;
    font-size: 45px;
    padding-left: 250px;
    padding-right: 250px;
}

.bodyText {
    font-style: normal;
    padding-left: 18%;
    padding-right: 18%;
    font-size: 22px;
    color: #424242;
}

.user_section {
    margin-top: 75px;
    margin-bottom: 50px;
}

.user_section_left {
    padding-left: 200px;
    text-align: left;
}

.user_section_title {
    font-size: 22px;
    color: #2255ff;
    text-decoration: underline;
    text-decoration-color: #2255ff;
}

.user_section_subtitle {
    font-size: 30px;
    color: #2255ff;
    font-weight: bold;
}

.user_section_text {
    font-size: 20px;
    color: #424242;
}

.img_users {
    width: 60%;
}

.user_section_rigth {
    padding-right: 200px;
    text-align: left;
}

.user_how {
    padding-right: 90px;
    padding-left: 210px;
    align-content: center;
}

.section_who {
    position: absolute;
    padding: 100px;
    left: 225px;
    top: 3993px;
}

.img_who {
    position: absolute;
    width: 92px;
    height: 78px;
    left: 230px;
    top: 380px;
    opacity: 0.5;
}

.user_who {
    position: absolute;
    width: 504px;
    height: 100px;
    left: 250px;
    top: 350px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    align-items: center;
    color: #424242;
    text-align: left;
}

.who_user {
    position: absolute;
    width: 350px;
    height: 360px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 50px -3px rgba(34, 85, 255, 0.08), 0px 0px 50px -5px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
}

.who_user.guille {
    left: 415px;
    top: 570px;
}

.who_user.edgar {
    left: 800px;
    top: 380px;
}

.who_user.carlos {
    left: 800px;
    top: 770px;
}

.who_user h4 {
    position: relative;
    left: 50px;
    top: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* identical to box height, or 208% */
    display: flex;
    align-items: center;
    color: #000000;
}

.who_user h5 {
    position: relative;
    margin-left: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    /* identical to box height, or 385% */
    display: flex;
    align-items: center;
    color: #727272;
}

.who_user p {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    font-size: 16px;
}

.user_entidades {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 5200px;
}

.user_entidades img {
    position: relative;
    top: -100px;
}

.body footer {
    background-color: #2255ff;
    width: 100%;
    height: 40px;
}

.user_footer {
    background-image: url("../Assets/fondo_cierre.png");
    background-size: cover;
    background-repeat: no-repeat;
    top: 5800px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 79%;
    text-align: center;
    padding-left: 30%;
    padding-top: 300px;
}

.user_footer h1 {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    width: 800px;
    color: #FFFFFF;
}

.user_footer h3 {
    position: absolute;
    text-align: center;
    font-weight: 300;
    margin-left: -105px;
    margin-top: 180px;
    font-size: 22px;
    width: 1000px;
    color: #FFFFFF;
}

.user_icons {
    position: absolute;
    margin-top: 350px;
    margin-left: 270px;
}

.user_register {
    position: absolute;
    margin-top: 280px;
    margin-left: 280px;
}